.bg-info{
  height: 300px;
}
.btn-info{ padding: 10px 30px;
         border-radius: 4px;
         border: 1px solid white;
         float: right;
         
         
         }


.text-underline{
  width: 100px;
  border: 1px solid rgb(194, 189, 189);
  margin:0 auto;
}
.btn-outline{ 
  border-color: rgb(183, 186, 190);
  height: 35px;
  width: 60x;
}

.theEnd{
  list-style: none;
}
.undo{ text-decoration: line-through;}